.main-container {
    
    grid-area: main;
    overflow-y: auto;
    padding: 20px 20px;
    color: rgba(255, 255, 255, 0.95);
}

.main-title{
    display: flex;
    justify-content: space-between;
    
}

.main-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    margin: 15px 0;
    
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.card:first-child{
    background-color: #2962ff;
}
.card:nth-child(2) {
  background-color: #ff6d00;   
}
.card:nth-child(3) {
    background-color: #237d32;   
  }
  .card:nth-child(4) {
    background-color: #d50000;   
  }  

 .card-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
 } 

 .card-inner > .card-icon {
    font-size: 25px;
 }

 .charts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 20px;
    height: 400px;
    
 }

@media screen and (max-width:1366px) {
    .charts{
        height: 300px;
    }
}